.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link:last-of-type {
  margin: 0;
}

.footer__column-link:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
