.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
