.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  margin-left: 48px;
}

.khan__buy-link:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
